/* homepage styling + theme styling */

body {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 44px;
    color: darkred;
}

.recipes {
    font-size: 20px;
    color: crimson;
    background-color:khaki
}

/* recipe pages styling */

.recipe-content {
    color: red;
    font-size: 18px;
    text-align:center ;
}

.info {
    text-align: left;
}

img {
    border-radius: 8px;
    border-style: groove;
    padding: 6px;
    height: auto;
    width: 900px;
}